apipkg==1.5
attrs==20.2.0
certifi==2020.6.20
contextlib2==0.6.0.post1
control==0.8.3
cvxpy==1.1.5
cycler==0.10.0
Cython==0.29.21
ecos==2.0.7.post1
execnet==1.7.1
future==0.18.2
iniconfig==1.0.1
kiwisolver==1.2.0
matplotlib==3.3.2
mock==4.0.2
numpy==1.19.2
osqp==0.6.1
packaging==20.4
path==15.0.0
path.py==12.5.0
pickle5==0.0.11
Pillow==7.2.0
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.1
pytest-shutil==1.7.0
python-dateutil==2.8.1
qpsolvers==1.4
quadprog==0.1.7
scipy==1.5.2
scs==2.1.2
six==1.15.0
termcolor==1.1.0
toml==0.10.1
